@model IEnumerable<CRUD.APP.ViewModels.ProdutoViewModel>

@{
    ViewData["Title"] = "Lista de produtos";
}

<h1>@ViewData["Title"]</h1>

<vc:summary></vc:summary>
<p>
    <a asp-action="Create" class="btn btn-info">Novo produto</a>
</p>
<partial name="_ListagemProdutos"/>