@model ErrorViewModel
@{
    ViewData["Title"] = $"Erro {@Model.ErrorCode}";
}

<h1 class="text-danger">@Model.Titulo</h1>

@if (!string.IsNullOrEmpty(Model.Mensagem))
{
    <p>
       @Model.Mensagem
    </p>
}
